<div class="main-container">
  <div class="content">
    <div class="inner-content">
      <div class="row">
        <input class="form-control mr-sm-2" placeholder="Search movie" aria-label="Search" [(ngModel)]="SearchMovie">
      </div>
      <!--List of movies-->
      <div class="sidebar" *ngFor="let list of category | search:SearchMovie">
        <a class="a" href="#"><img [src]='list.url'/></a>
        <a class="a" href="#">{{list.name}}</a>
      </div>
    </div>
    <!--Menu-->
    <div class="menu">
      <div class="inner-menu">
        <a href="#" class="menuItem" *ngFor="let menu of menus; let i = index" (click)="check(i)">
          {{menu | slice:1}}
        </a>
      </div>
    </div>
  </div>

</div>
